[Unit]
Description=yablo - Yet Another Battery Life Optimizer for Linux
After=network.target network-online.target
ConditionPathExists=/var/log/yablo.log

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/yablo --daemon
StandardOutput=append:/var/log/yablo.log
ProtectHome=true
ProtectSystem=strict
DevicePolicy=closed
IPAddressDeny=any
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
PrivateUsers=true
ProtectClock=true
ProtectControlGroups=true
PrivateNetwork=true
ProtectHostname=true
ProtectKernelModules=true
ProtectKernelLogs=true
LockPersonality=true
UMask=0077
MemoryDenyWriteExecute=true
KeyringMode=private
OOMScoreAdjust=-1000
RestrictSUIDSGID=true
RestrictAddressFamilies=~AF_UNIX
RestrictAddressFamilies=~AF_NETLINK
RestrictAddressFamilies=~AF_PACKET
CapabilityBoundingSet=~CAP_SYS_BOOT
CapabilityBoundingSet=~CAP_MAC_*
SystemCallArchitectures=native
CapabilityBoundingSet=~CAP_SET(UID|GID|PCAP)
CapabilityBoundingSet=~CAP_SYS_ADMIN
CapabilityBoundingSet=~CAP_SYS_PTRACE
CapabilityBoundingSet=~CAP_KILL
CapabilityBoundingSet=~CAP_AUDIT_*
SystemCallFilter=~@clock
SystemCallFilter=~@debug
SystemCallFilter=~@module
SystemCallFilter=~@mount
SystemCallFilter=~@raw-io
SystemCallFilter=~@reboot
SystemCallFilter=~@swap
SystemCallFilter=~@privileged
SystemCallFilter=~@resources
SystemCallFilter=~@cpu-emulation
 SystemCallFilter=~@obsolete
[Install]
WantedBy=multi-user.target
